body{
    background-color: cornflowerblue;
}

form input {
    display: flex;
    justify-content: center;
    margin: auto;
	font-size: 20px;
}

input::placeholder {
	font-size: 20px;
    text-align: center;
}

form button {
	display: flex;
    justify-content: center;
	margin: auto;
}

.oval{
    width: 500px;
    height: 525pt;
    background: rgb(0, 68, 255);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 300px;
    margin: 9% auto;
    position: relative;
}

.statistics{
    display: flex;
    justify-content: center;
    color: white;
}

.stat{
    list-style: none;
}

.screen{    
    height: 45%;
    width: 65%;
    margin: auto;
    border: 6px solid powderblue;
    background-color: grey;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    z-index: 1;
}

#nightImage{
    position: absolute;
    z-index: 2;
}   


#pet{
    display: flex;
    animation: shimmy 2s infinite;
    animation-direction: alternate;
    position: absolute;
    z-index: 3;
}


#morphpet{
    display: flex;
    animation: shimmy 2s infinite;
    animation-direction: alternate;
    z-index: 3;
}

@keyframes shimmy {
    0% {
        transform: translate(0,0);
    }
    100%{
        transform: translate(100px, 100px);
    }
}


.setButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding-top: 400px;
    
}

/* .button {
    text-align: center; 
    border-radius: 10em;
    border: 0;
} */

#nightImage{
    position: absolute;
    z-index: 2;
}   

